@model List<Product>
@{
    ViewBag.Title = "Product List";
}

<section class="mt-5 d-flex">
    @foreach (var product in Model)
    {
        <div class="card m-2" style="width: 18rem;">
          <a href="/Product/@product.Id"><img class="card-img-top" src="@product.MainImageURL" alt="Card image cap"></a>
          <div class="card-body">
            <h5 class="card-title">@product.Name</h5>
            <p class="card-text">@product.Description</p>
            <a href = "#" class="btn d-block btn-warning">Add</a>
          </div>
        </div>
    }
</section>
