@model List<Product>
@{ 
    ViewBag.Title = "Cart";
}

@if(TempData["message"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["message"]
    </div>
}

@if(ViewData["isEmpty"] != null)
{
    <h1>No Items Found</h1>
}
else
{
    <section class="mt-5 d-flex">
    @foreach (var product in Model)
    {
        <div class="card m-2" style="width: 18rem;">
          <a href="/Product/@product.Id"><img class="card-img-top" src="@product.MainImageURL" alt="Card image cap"></a>
          <div class="card-body">
            <h5 class="card-title">@product.Name</h5>
            <p class="card-text">@product.Description</p>
          </div>
          <a href="/Cart/RemoveFromCart?product_id=@product.Id" class="btn btn-danger">Remove</a>
        </div>
    }
    </section>
    <a href="/Cart/CheckoutCart" class="btn btn-primary">Checkout</a>
}
